@tailwind base;
@tailwind components;
@tailwind utilities;

.aspect-w-16 {
  aspect-ratio: 16 / 9;
}

.aspect-h-9 {
  aspect-ratio: 16 / 9;
}

.aspect-w-1 {
  aspect-ratio: 1 / 1;
}

.aspect-h-1 {
  aspect-ratio: 1 / 1;
}

body {
  margin: 0;
  @apply bg-gray-100 text-gray-900;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input,
button {
  @apply border rounded p-2;
}

button {
  @apply bg-blue-500 text-white hover:bg-blue-700;
}
